html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
	min-height: 100%;
	font-family: 'Share Tech Mono', monospace;
}

header {
	height: 55px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	border-bottom: 5px solid black;
}

footer {
	height: 55px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: white;
	border-top: 5px solid black;
}

.footer-right {
	display: inline;
	float: right;
}

#masthead a {
	text-decoration: none;
	color: black;
}

#content {
	border-left: 5px solid black;
	border-right: 5px solid black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding: 55px 0;
}

.page-content, .entry-content, .entry-summary {
	margin: 0;
}

.hentry {
	margin: 0;
}

.site-branding {
	float: left;
}

.main-navigation {
	float: none;
	clear: none;
	width: 100%;
}

.main-navigation, .site-branding p {
	margin: 1em;
}

.main-navigation li {
	padding: 12px 10px 8px 10px;
	margin-top: -10px;
}

.menu-main-nav-container {
	float: right;
	padding-right: 1em;
}

.current-menu-item {
	border: 5px solid black;
	border-bottom: none;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	margin-top: -5px;
}

.content-section {
	padding: 0 10px;
	overflow: auto;
}

.site-info {
	margin: 0 0 1em 0;
}

.site-info a {
	text-decoration: none;
	color: black;
}

.site-info span {
	line-height: 30px;
	padding: 4px 10px;
	border: 5px solid black;
	border-top: none;
	display: inline-block;
}

.site-info .footer-right span:first-child {
	right: -14px;
	position: relative;
}

@media only screen and (max-width: 1023px) {
	.image-section {
		border-bottom: 5px solid black;
		text-align: center
	}

	.image-section img{
		margin: auto;
	}
}

@media only screen and (min-width: 1024px) {
	#page, #primary, #main, article, .entry-content, .split {
		height: 100%;
	}

	.divider-bar {
		width: 5px;
		min-height: 100%;
		background-color: black;
	}

	.split {
		display: flex;
	}

	.split-section {
		width: 50%;
	}
}
