#masthead a {
	text-decoration: none;
	color: black;
}

#content {
	border: 5px solid black;
}

.page-content, .entry-content, .entry-summary {
	margin: 0;
}

.hentry {
	margin: 0;
}

.site-branding {
	float: left;
}

.main-navigation {
	float: none;
	clear: none;
	width: 100%;
}

.main-navigation, .site-branding p {
	margin: 1em;
}

.main-navigation li {
	padding: 5px 15px;
}

.menu-main-nav-container {
	float: right;
	padding-right: 1em;
}

.current-menu-item {
	border: 5px solid black;
	border-bottom: none;
}

.split {
	display: flex;
}

.divider-bar {
	width: 5px;
	min-height: 100%;
	background-color: black;
}

.split-section {
	width: 50%;
}

.content-section {
	/*border-left: 10px solid black;*/
	padding: 0 10px;
}

.site-info {
	margin: 0 0 1em 0;
}

.site-info a {
	text-decoration: none;
	color: black;
}

.site-info span {
	line-height: 30px;
	padding: 0 10px;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	display: inline-block;
}
